@charset "UTF-8";

body {
    font-family: helvetica;
    line-height: 1.2;
}

li {
    list-style-type: none;
}

.pageContainer {
    max-width: 800px;
    padding: 5px;
}

.headerContainer {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#resultsContainer {
    padding: 0px;
    position: absolute;
    z-index: 3;
    list-style-type: none;
    background-color: white;
    overflow: scroll;
    tabindex: 0;
}

.searchResult {
    tabindex: -1;
}

.searchResult > a {
    color: black;
    text-decoration: none;
}

.searchResult:hover {
    background-color: lightblue;
}