@charset "UTF-8";

body {
    font-family: helvetica;
    line-height: 1.2;
    padding: 10px;
    background-color: lightgray;
}

header img {
    height: 50px;
}

a {
    color: black;
}

a:hover {
    background-color: lightyellow;
}

.pageContainer {
    max-width: 800px;
    min-width: 400px;
}

.infoBox {
    border: 1px solid black;
    border-radius: 30px;
    padding: 15px;
    max-width: 600px;
    height: 400;
}

#tagsBox {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

.headerContainer > a:hover {
    background-color: lightgray;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navContainer {
    border-bottom: 1px solid black;
}

.indexList {
    list-style-type: none;
    padding: 5px;
}

.indexList li {
    margin-bottom: 10px;
}


.nav {
    width: 60%;
    min-width: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
}

.editNav {
    width: 80%;
    min-width: 500px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
}

.nav a {
    text-decoration: none;
    padding: 5px;
}

.editNav a {
    text-decoration: none;
    padding: 5px;
}

#editInfo {
    float: right;
}

#editInfo img {
    width: 20px;
}

#editInfo a:hover {
    background-color: lightgray;
}

#resultsContainer {
    padding: 0px;
    position: absolute;
    z-index: 3;
    list-style-type: none;
    background-color: lightgray;
    tabindex: 0;
}

.searchResult {
    tabindex: -1;
}
/*
.pageContent {
    margin-left: 15px;
}
*/
.searchResult > a {
    text-decoration: none;
    padding: 2px;
}

#resultsContainer {
    box-shadow: -50px 50px 30px lightgray;
    max-width: 350px;
}